<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/javascripts/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<nav id="nav"></nav>
	<main id="container">
	</main>
	<script type="text/javascript">
		window.iobrew_user = <%- user ? JSON.stringify(user) : 'false' %>;
	</script>
	<script type="text/javascript" src="/javascripts/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/dist/all.js"></script>
</body>
</html>