<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/javascripts/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<main id="container">
	</main>
	<script type="text/javascript" src="/javascripts/dist/all.js"></script>
</body>
</html>