@-ms-viewport{
  width: device-width;
}


/*body {
  padding: 0px;
 	background: url(/images/textured-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}*/

a:hover {
	text-decoration: none;
}

#container {
	background: url(/images/textured-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*------------------   NavBar   -----------------------------------*/

.nav-container {
	background-color: rgba(51,77,92,1);
	border:none;
	padding-left: 0px;
	padding-right: 10px;
	border:none;
	min-height: 60px;
}
.navbar-header {
	background-color: rgba(51,77,92,1);
}

.navbar-collapse {
	border: 1px solid black;
}

.navbar-brand {
	font-size: 30px;
	font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
	margin-bottom: 20px;
	color: #999273;
	padding:0px;
	float:none;
	text-align: center;
}

.navbar-brand a{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar-brand img{
	margin-right: 0px;
	width:45px;
	height:45px;
	display: inline;
}

.logos {
	width: 175px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
/*	max-height: 75px;
	max-width: 75px;*/
}


.nav-links:hover {
	background-color: #999273;
}

.nav-links {
	font-size: 140%;
	font-family: "Oswald";
}

.navbar-default .navbar-nav>li>a {
	color:#FAF4D6;
}

.navbar-default .navbar-nav>li {
	margin-top: 0px;
	padding-top: 10px;
}

.navbar-default .navbar-nav>li:active {
	color:#FAF4D6;
}

.brew {
	font-size: 30px;
	color: #FFC30F;
	font-family: Copperplate, fantasy;
}

.collapsed {
	margin-top: 20px;
}

.collapse {
	border: none;
}

#nav-a-links:hover {
	color:#334D5C;
}

#nav-a-links:focus {
	color:#FFC30F;
}

@media (min-width: 400px) {
	.navbar-brand {
		font-size: 250%;
	}
}

@media (min-width: 768px) {
	.nav-links {
		margin-top: 10px;
	}
	.navbar-nav {
		float:right;
	}
	.navbar-brand {
		font-size: 30px;
	}
	.nav-links:hover {
	background-color: rgba(255, 239, 191, 1);
	}
	.navbar-header {
		margin-top: 10px;
	}
	.logos {
		width:200px;
		margin-top: 100px;
		margin-left: 30px;
		display: inline;
	}
	.mobile-submit {
		visibility: collapse;
	}
}


/*------------------   HomePage   ---------------------------------*/

.home-banner {
	background: url(/images/friends-mugs.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	margin-top: -20px;
	color: white;
	text-align: center;
}

.home-banner h1 {
	font-size: 240%;
	display: inline;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-shadow: 3px 3px 1px black;
}

.alt-text {
	color:white;
	text-shadow: 3px 3px 1px black;
}

.banner-text {
	padding-top: 210px;
	text-shadow: 3px 3px 1px black;
	font-size: 130%;
}

.banner-text p {
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.button {
	text-shadow: 1px 1px 1px black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	height:30%;
	font-size: 100%;
	color: white;
	border-radius: 4px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Quicksand', sans-serif;
}

.button:hover {
	text-decoration: none;
	color:white;
}

.primary-button {
	background-color: #334D5C;
	display:block;
	width:40%;
	max-width: 280px;
	font-size: 100%;
}

.secondary-button {
	background-color: transparent;
	border: 1px solid white;
	padding-left: 25px;
	padding-right: 25px;
	display: block;
	width:50%;
	max-width: 350px;
	font-size: 100%;

}

.secondary-button:hover {
	background-color: #334D5C;
}

.home-benefits {
	padding-bottom: 60px;
/*	background: url(/images/textured-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
}

.benefits {
	margin-top: 40px;
	text-align: center;
	font-family: 'Bangers', cursive;
}

.benefits h3{
	margin-bottom: 20px;
}

.benefits img {
	height:60%;
	width:60%;
	max-height:200px;
	max-width:200px;
	margin-left: auto;
	margin-right: auto;
}

.benefits p {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.home-logo {
	background-color: #FAF4D6;
}

.ben-img {
	margin-top: 30px;
}

@media (min-width: 411px) {
	.home-banner h1 {
		font-size: 250%;
	}
	.banner-text p {
		font-size: 155%;
	}
	.banner-text {
		padding-top: 260px;
	}
	.primary-button {
		font-size: 120%;
	}
	.secondary-button {
		font-size: 120%;
	}
}

@media (min-width: 550px) {
	.benefits h3 {
		font-size: 350%;
	}
	.benefits p {
		font-size: 170%;
	}
}

@media (min-width: 992px) {
	.home-benefits {
		padding-bottom: 100px;
	}
	.benefits h3 {
		font-size: 250%;
	}
	.ben-img {
		float:right;
		margin-top: 50px;
	}
	.benefits p {
		width:65%;
		float:left;
		margin-bottom: 80px;
	}
	.primary-button {
		font-size: 24px;
		font-weight: bold;
	}
	.secondary-button {
		font-size: 24px;
		font-weight: bold;
	}
}

@media (min-width: 1000px) {
	.home-banner h1 {
		font-size: 300%;
	}
	.banner-text p {
		font-size: 180%;
	}
}

@media (min-width: 1250px) {
	.home-banner h1 {
		font-size: 400%;
	}
	.banner-text p {
		font-size: 280%;
	}
	.benefits p {
		width:75%;
	}
}

/*--------------------------   User Dash   -----------------------------------*/

@main: #2c3e50;
@accent: lighten(@main, 40%);

.user-container {
	min-height: 600px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom:100px;
	margin-top: -20px;
}

.user-container img {
	margin-left: auto;
	margin-right: auto;
}

.user-bottom {
	min-height:180px;
	border: 3px solid #0C171A;
	border-radius: 5px;
}

.user-bottom:hover {
	cursor: pointer;
}

.dash-imgs {
	width:30%;
}

.submit-bottom {
	background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	background-image: radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
	display:none;
}

.submit-bottom img {
	width:20%;
}

.achs {
  	background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	background-image: radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	padding-top: 10px;
  	text-align: center;
}

.achs img {
	width: 15%;
}

.user-container h3 {
	font-size: 40px;
}

.dash-greet {
  	padding-top: 15px;
  	padding-bottom: 15px;
  	text-align: center;
	font-family: "Copperplate";
}

.user-container h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 90%;
	text-align: center;
	color:#0C171A;
}

.user-container h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	color: #0C171A;
	font-size: 400%;
}

.iou-dash {
	border-top: 3px solid #0C171A;
	border-left: 3px solid #0C171A;
	border-right: 3px solid #0C171A;
	border-bottom: 3px solid #0C171A;
  	background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	background-image: radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
	min-height: 180px;
	color:white;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 15px;
	text-align: center;
	color: rgb(12,23,26);
}

.iou-dash img {
	width: 15%;
}

.iou-dash:hover {
	cursor: pointer;
}

.submit-btn {
	padding-left: 0px;
	padding-right: 0px;
}

.submit-btn button {
	width:100%;
	margin-top: 50px;
	border-radius: 4px;
	/*border:none;*/
	font-size: 30px;
	background-color: #FFEFBF;
	color:#999273;
	font-family: 'Oswald', sans-serif;
}

.submit-btn button:hover {
	background-color: #FFC30F;
}

.uome-dash {
	border-top: 3px solid #0C171A;
	border-right: 3px solid #0C171A;
	border-left: 3px solid #0C171A;
	border-bottom: 3px solid #0C171A;
  	background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	background-image: radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
	min-height: 180px;
	color:white;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 15px;
	text-align: center;
	color: rgb(12,23,26);
}

.uome-dash img {
	width: 15%;
}

.uome-dash:hover {
	cursor: pointer;
}

@media (min-width: 768px) {
	.user-bottom {
		display: block;
		padding-top: 40px;
		min-height:210px;
	}
	.user-container h1 {
		margin-top: 10px;
		font-size: 400%;
	}
	.iou-dash {
		min-height:280px;
		margin-bottom: 0px;
		border-left: 6px solid #0C171A;
		border-top: 6px solid #0C171A;
	}
	.uome-dash {
		min-height:280px;
		margin-bottom: 0px;	
		border-top: 6px solid #0C171A;
		border-right: 6px solid #0C171A;
	}
	.iou-dash img {
		margin-top: 40px;
		width:20%;
	}
	.uome-dash img {
		margin-top: 40px;
		width:20%;
	}
	.achs img {
		width:20%;
		margin-top: -20px;
	}
	.achs {
		border-bottom: 6px solid #0C171A;
	}
	.sub-iou {
		border-left: 6px solid #0C171A;
		border-bottom: 6px solid #0C171A;	
	}
	.sub-uome {
		border-right: 6px solid #0C171A;
		border-bottom: 6px solid #0C171A;	
	}
	.user-container h4 {
		font-size: 18px;
	}
	.submit-bottom {
		padding-top: 70px;
	}
}

@media (min-width: 1065px) {
	.user-bottom {
		min-height: 240px;
	}
	.submit-bottom {
		padding-top: 90px;
	}
}

/*-------------------------   Submit IOU  Page & Submit UOME Page   ------------------------------*/

.submit-container {
	margin-top: -30px;
	min-height: 900px;
}

.form {
	padding-top: 50px;
}

.form label {
	font-size: 15px;
	color:#334D5C;
	margin-top: 15px;
	font-family: "Quicksand", sans-serif;
}

.form input[type=text] {
	background-color: #FFEFBF;
	width: 85%;
}

.radio-text {
	font-family: "Quicksand", sans-serif;
}


.form textarea {
	width: 85%;
	background-color: #FFEFBF;
}

.form select {
	width: 85%;
	background-color: #FFEFBF;
}

.form button {
	margin-top: 15px;
	height: 30px;
	border-radius: 4px;
	width:85%;
	font-size: 100%;
	border:none;
	font-family: "Oswald", sans-serif;
	/*float:right;*/
	margin-right: 20%;
	background-color: #999273;
	color:#FFEFBF;
}

.error {
	color:red;
	font-family: "Oswald", sans-serif;
}

.form-help {
	float: right;
}

.form-help:hover {
	cursor: pointer;
}

.form p {
	margin-bottom: 0px;
}

.alert-warning {
	display:none;
	margin-bottom: 0px;
	margin-top: 5px;
	width:85%;
}

@media (min-width: 590px) {
	.form-help {
		font-size: 120%;
	}
}

@media (min-width: 768px) {
	.form button {
		width:85%;
		height:50px;
	}
}



/*--------------------------   IOU List Page   -------------------------------*/

.list-container {
	margin-top: -30px;
	min-height: 900px;
	padding-bottom: 50px;
}

.list-container button {
	border-radius: 4px;
	border:none;
}

.todo-list {
	margin-top: 20px;
}

.pic1 {
	height:200px;
	width:200px;
	border-radius: 50%;
	margin-top: 50px;
	background-color: #334D5C;
}

.each-iou {
	border:3px solid black;
	background-color: #E6DBAC;
	border-radius: 5px;
	margin-top: 5px;
	padding: 10px;
	color:#334D5C;
	font-family: "Ubuntu", sans-serif;
	font-size: 100%;
}

.each-iou button {
	float: right;
	/*margin-top: 30px;*/
	background-color: rgba(192, 192, 192, 0);
}

.unchecked {
	height:50px;
	width:50px;
}

.unchecked:hover {
	cursor: pointer;
}

.checked {
	opacity: 0.5;
	text-decoration: line-through;
}

.update {
	margin-top: 30px;
}

.details p img {
	width:20%;
	height:20%;
}

.details {
	border-top: 3px solid black;
	margin-top: 15px;
}

.no-iobrews {
	text-align: center;
	font-family: "Oswald", sans-serif;
}

.todo-list h2 {
	text-align: center;
	margin-bottom: 30px;
	text-decoration: underline;
	font-family: "Bangers", cursive;
}

.friend-submitted {
	background-color: #334D5C;
	color:white;
}

.user-submitted: {
	background-color: #E6DBAC;

}

.list-btns {
	padding:0px;
	text-align: center;
	background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	background-image: radial-gradient(ellipse farthest-corner at center top, #ffffff -20%, #f4e8a9 100%);
  	border-radius: 5px;
	border: 1px solid #0C171A;
	font-style: "Oswald", "sans-serif";
	font-size: 20px;
}

.list-btns span {
	margin-top: 10px;
}

.list-btns:hover {
	cursor:pointer;
}

.list-nav {
	margin-top: 20px;
	padding: 0px;
}

.back-to-list {
	margin-top: 20px;
	float:right;
	color:black;
	text-decoration: underline;
	margin-bottom: -20px;
}


/*----------------------------------   Profile Page   ----------------------------------*/

.profile-container {
	margin-top: -30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 60px;
}

.profile-container img {
	height:50%;
	width:50%;
}

.achievements h3 {
	font-size: 130%;
	font-weight: bold;
	font-family: "Bangers", cursive;	
}

.achievements h1 {
	font-family: "Oswald", sans-serif;
	text-decoration:underline;
	margin-bottom: 20px;
}

.achievements p {
	font-size: 100%;
	font-weight: bold;
	font-family: "Quicksand", sans-serif;
	margin-bottom: 20px;	
}

.completed {
	font-size: 14px;
}

.user-info {
	font-family: "Oswald", sans-serif;
}

.achs-pic {
	margin-top: 50px;
}

.achievements h5 {
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
	font-weight: bold;

}

@media (min-width: 490px) {
	.achievements h3 {
		font-size: 170%;
	}
	.achievements p {
		font-size: 140%;
		margin-bottom: 40px;	
	}
	.profile-container img {
		height:40%;
		width:40%;
	}
	.achievements h1 {
		margin-bottom: 60px;
	}
}

@media (min-width: 768px) {
	.achievements div {
		min-height: 310px;
	}
	.achievements div img {
		max-height: 150px;
		max-width: 150px;
	}
	.achievements img {
		max-height: 280px;
		max-width: 320px;
	}
	.user-info h3 {
		font-size: 30px;
	}
	.user-info p {
		font-size: 24px;
	}
}


/*--------------------------------   Footer   -------------------------------------*/

footer {
	background-color: rgba(51,77,92,1);
	height:50px;
	margin-top: -20px;
	padding-right: 30px;
}

footer img {
	height:30px;
	width: 30px;
	margin-left: 20px;
	float: right;
}

.footer-links {
	float: right;
	padding-top: 10px;
	padding-right: 0px;
}

@media (min-width: 490px) {
	footer img {
		margin-left: 25px;
	}
}

